body {
    margin: 0;
    padding: 0;
}


.bar {
    background: #f5f5f5;
    position: absolute;
    top: 18%;
    left: 40%;
}

.bar article {
    display: inline-block;

}


.each-bar {
    height: 280px;
    width: 50px;
    margin: 20px;
    background: #cbc6c0;
}


p {
    padding-left: 20px;
}

h1 {
    text-align: center;
}

.first-bar {
    width: 100%;
    height: 70%;
    background: white;
    animation: bar1;
    animation-duration: 2s;
    animation-iteration-count: 1;
}

@keyframes bar1 {

    0% {
        height: 100%;
        background-color: white;

    }

    100% {
        height: 70%;
        background-color: white;
    }

}

.second-bar {
    width: 100%;
    height: 60%;
    background: white;
    animation: bar2;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes bar2 {

    0% {
        height: 100%;
        background-color: white;

    }

    100% {
        height: 60%;
        background-color: white;
    }

}

.third-bar {
    width: 100%;
    height: 20%;
    background: white;
    animation: bar3;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes bar3 {

    0% {
        height: 100%;
        background-color: white;

    }

    100% {
        height: 20%;
        background-color: white;
    }

}